<div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="header" src="./assets/pic1.jpg">
        <div class="carousel-caption">
          <h1>In Your Face</h1>
          <h4>The hot new app that's taking Hack Reactor by storm!</h4>
          <button class="btn btn-warning" ng-click="ctrl.goToClassmates()">Classmate Mode</button>
        </div>
      </div>
      <div class="item">
        <img class="header" src="./assets/pic2.jpg">
        <div class="carousel-caption">
          <h1>Famous Faces</h1>
          <h4>Who's your celebrity doppelganger?</h4>
          <button class="btn btn-warning" ng-click="ctrl.goToCelebrities()">Celebrity Mode</button>
        </div>
      </div>
      <div class="item">
        <img class="header" src="./assets/pic3.jpg">
        <div class="carousel-caption">
          <h1>Friendly Faces</h1>
          <h4>Which Facebook friends look most like you?</h4>
          <!--<button class="btn btn-warning" ng-click="ctrl.goToFriends()">FB Friend Mode</button>-->
          <button class="btn btn-warning"><a ng-href="/auth/facebook">Facebook Login</a></button>
        </div>
      </div>
      <div class="item">
        <img class="header" src="./assets/pic4.jpg">
        <div class="carousel-caption">
          <h1>Funny Faces</h1>
          <h4>Add stuff to your face!</h4>
          <button class="btn btn-warning" ng-click="ctrl.goToPhotoBooth()">Photo Booth Mode</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h3 class="team-name">Guardians of the Galaxy</h3>
    <div class="row">
      <div class="col-xs-3">
        <img src="../assets/Edward%20Kim.png" class="img-circle team-member-photo" alt="Edward Kim">
        <div class="team-member-name"><p>Edward Kim</p></div>
      </div>
      <div class="col-xs-3">
        <img src="../assets/Michael%20Diodoro.png" class="img-circle team-member-photo" alt="Michael Diodoro">
        <div class="team-member-name"><p>Michael Diodoro</p></div>
      </div>
      <div class="col-xs-3">
        <img src="../assets/Shawn%20Feng.png" class="img-circle team-member-photo" alt="Shawn Feng">
        <div class="team-member-name"><p>Shawn Feng</p></div>
      </div>
      <div class="col-xs-3">
        <img src="../assets/Mahima%20Ganapati%20Pushpa.png" class="img-circle team-member-photo" alt="Mahima Ganapati Pushpa">
        <div class="team-member-name"><p>Mahima Ganapati Pushpa</p></div>
      </div>
    </div>
  </div>
</div>
