<div id="motion-detect-container">
    <nav-bar></nav-bar>
    <div class="container inyourface">
        <div class="inyourface-motion-detect">
            <div class="row">
                <div class="col-xs-12">
                    <video id="video"  preload autoplay loop muted></video>
                    <canvas id="canvas" ></canvas>
                </div>
            </div>
        </div>
        <div class="motion-detect-div">
            <button class="btn btn-warning motion-detect-button" ng-click="ctrl.onChangePicButtonClicked('./assets/sophie_pic.gif')">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i> Sophie</button>
            <button class="btn btn-warning motion-detect-button" ng-click="ctrl.onChangePicButtonClicked('./assets/fred_pic.gif')">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i> Fred  </button>
            <button class="btn btn-warning motion-detect-button" ng-click="ctrl.onChangePicButtonClicked('./assets/jamil_pic.gif')">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i> Jamil  </button>
        </div>
    </div>
</div>






