<nav-bar></nav-bar>
  <div class="student-container">
    <button class="btn btn-warning" style="float:right" ng-click="ctrl.goToClassmates()">Go Back</button>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4">
      <h1 class="student-header" align="center">{{ctrl.student}}</h1>
      <student-attribute-entry analyze="ctrl.analyze" detect="ctrl.detect"/></student-attribute-entry>
    </div>
    <div class="col-xs-8">
     <img class="placeholder-image" ng-src={{ctrl.image||"../assets/loading.gif"}} />
    </div>
  </div>
</div>
