<div id="webcam-module-container">
  <div ng-show="ctrl.showSnapshotCanvas">
    <canvas id="snapshot"></canvas>
  </div>
  <div ng-show="ctrl.showCamera">
    <webcam channel="ctrl.channel"
      on-streaming="ctrl.onSuccess()"
      on-error="ctrl.onError(err)"
      on-stream="ctrl.onStream(stream)">
    </webcam>
  </div>
  <div class="webcam-buttons-div">
    <button class="btn btn-primary webcam-button" ng-click="ctrl.onRetakeButtonClicked()"
      ng-show="ctrl.showRetakeButton"><i class="fa fa-camera" aria-hidden="true"></i> retake picture</button>
    <button class="btn btn-primary webcam-button" ng-click="ctrl.makeSnapshot()"
      ng-show="ctrl.showTakePicButton"><i class="fa fa-camera" aria-hidden="true"></i>   take picture</button>
    <button class="btn btn-primary webcam-button" ng-click="ctrl.sendSnapshotToServer()"
      ng-show="ctrl.showUploadButton"><i class="fa fa-upload" aria-hidden="true"></i> upload image</button>
  </div>
</div>